@{
    Layout = "_ProductsCoffee";
}


<h2>⚙️ Trang quản trị</h2>

<div class="list-group mt-4">
    <a asp-controller="Categories" asp-action="Index" class="list-group-item">
        📂 Quản lý Category
    </a>

    <a asp-controller="AdminProducts" asp-action="Index" class="list-group-item">
        ☕ Quản lý Product
    </a>
</div>