@{
    ViewData["Title"] = "Dịch Vụ";
}
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Dịch Vụ Của Chúng Tôi</h4>
            <h1 class="display-4">Cà Phê Tươi & Hữu Cơ</h1>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="~/img/service-1.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-truck service-icon"></i>Giao Hàng Tận Nơi Nhanh Nhất</h4>
                        <p class="m-0">
                            Chúng tôi cung cấp dịch vụ giao hàng tận nhà nhanh chóng và an toàn. Đơn hàng của bạn
                            sẽ được xử lý và vận chuyển trong thời gian ngắn nhất có thể.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="~/img/service-2.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-coffee service-icon"></i>Hạt Cà Phê Tươi Ngon</h4>
                        <p class="m-0">
                            Hạt cà phê được thu hoạch trực tiếp từ các vùng trồng nổi tiếng, đảm bảo độ tươi và
                            hương thơm đặc trưng trong từng mẻ rang được chế biến cẩn thận.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="~/img/service-3.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-award service-icon"></i>Cà Phê Chất Lượng Hàng Đầu</h4>
                        <p class="m-0">
                            Chúng tôi cam kết mang đến những sản phẩm cà phê đạt tiêu chuẩn chất lượng cao nhất,
                            được kiểm định nghiêm ngặt từ khâu chọn lọc nguyên liệu đến thành phẩm.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="~/img/service-4.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-table service-icon"></i>Đặt Bàn Trực Tuyến</h4>
                        <p class="m-0">
                            Đặt bàn dễ dàng và tiện lợi ngay trên website của chúng tôi. Chỉ vài bước đơn giản,
                            bạn đã có thể giữ chỗ cho buổi hẹn cà phê thư giãn cùng bạn bè và người thân.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
