@{
    Layout = "_Layout404";
    ViewData["Title"] = "404";
}

<div class="container">
    <div class="coffee">☕</div>
    <h1>404</h1>
    <h2>Trang không tồn tại</h2>
    <p>Link có thể sai hoặc đã bị xoá.</p>

    <a href="/">⬅️ Về trang chủ</a>
</div>