@model IEnumerable<Coffee.DTO.ProductDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "_ProductsCoffee";
}

@* phần đầu *@
@await Html.PartialAsync("_Header")

<div class="d-flex mt-4 align-items-start">
    @* loại sản phẩm *@
    <div class="d-flex flex-column col-lg-3">
        @await Component.InvokeAsync("Categories", Model)

        @* sản phẩm đang cực hot *@
        <h2 class="text-center mt-5">Sản phẩm cực hot</h2>
        @await Component.InvokeAsync("Products", new { count = 1 })

    </div>
    
        @* sản phẩm *@
        @await Html.PartialAsync("_Products", Model)

  

</div>
@section Scripts {
    <script src="~/js/Products/Products.js"></script>
}